*{
    margin: 0;
    padding: 0;
}
body{
    background: #000b22;
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 10vh;
}
nav ul{
    display: flex;
}
nav ul li {
    margin:0 30px;
    list-style: none;
}
nav ul li::before{
    content: "";
    position: absolute;
    top: -2px;
    height: 3px;
    width: 0;
    background-color: goldenrod;
    border-radius: 50px;
    animation:btn 6s linear infinite;
    animation-delay: 2s;
}
nav ul li::after{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    background-color: goldenrod;
    border-radius: 50px;
    animation: btntwo 6s linear infinite;
    animation-delay: 2s;
}
@keyframes btn {
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
@keyframes btntwo {
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
        transform: translate(-100%);
    }
    100%{
        width: 0%;
    }
}
nav ul li:nth-child(1){
    animation: nav 2s forwards;
    animation-delay: .1s;
}
nav ul li:nth-child(2){
    animation: nav 2s forwards;
    animation-delay: .2s;
}
nav ul li:nth-child(3){
    animation: nav 2s forwards;
    animation-delay: .3s;
}
nav ul li:nth-child(4){
    animation: nav 2s forwards;
    animation-delay: .4s;
}
@keyframes nav {
    0%{
        transform: translateY(-100px);
        opacity: 1;
    }
}
nav ul li:hover::before{
    animation: none;
}
nav ul li:hover::after{
    animation: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}
nav ul li a:hover{
    color: red;
}



section .intro{
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 10px;
}
.intro .cover{
    width: 420px;
    height: 420px;
    margin-right: 60px;
    border-radius: 50%;
    overflow: hidden;
    animation: img 2s forwards;
}
.intro img{
    margin-left: 20px;
    margin-top: 10px;
    scale:2;
}
@keyframes img {
    0%{
        transform: translate(-620px) rotate(-360deg);
        opacity: 0;
    }
}
.intro .info h1{
    font-size: 90px;
    animation: h1 2s forwards;
}
@keyframes h1 {
    0%{
        transform: translate(320px);
    }
}
.intro .info .li{
    display: flex;
    flex-direction: column;
    list-style: none;
    background: goldenrod;
    height: 60px;
    width: 320px;
    overflow: hidden;
    animation: li 2s forwards;
}
@keyframes li {
    0%{
        transform: translateY(120px);
    }
}
.intro .info .li span{
    font-size: 50px;
    animation: autoscroll 4s  infinite;
    animation-delay: 5s;
}
@keyframes autoscroll {
    0%{
        transform: translateY(0);  
    }    
    50%{
        transform: translateY(-60px);
    }    
    100%{
        transform: translateY(-116px);
    }    
    
}



section .about .desc{
    padding: 10px;
    min-height: 100vh;
}
section .about .desc p{
    font-size: 24px;
    margin-bottom: 30px;
}
section .about .desc p span{
    color: goldenrod;
}
section .about .desc ul li{
    font-size: 24px;
    margin-bottom: 10px;
}
section .about .desc h4{
    color: goldenrod;
    font-size: 30px;
    margin-bottom: 10px;
}
section .about .desc h3{
    color: goldenrod;
    font-size: 30px;
    margin-bottom: 10px;
}


section .projects{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    min-height: 50vh;
    overflow: hidden;
}
section .projects .card{
    display: flex;
    flex-direction: column;
    width: 280px;
    border-radius: 20px 20px 0 0;
    margin-right: 15%;
    border-radius: 20px 20px 0 0;
    animation: card 10s  infinite;
}
section .projects .card img{
    border-radius: 20px 20px 0 0;
    opacity: 25;
    transition: all 1s;
}
section .projects:hover .card{
    animation-play-state: paused;
}
section .projects .card img{
    border-radius: 20px 20px 0 0;
    opacity: .5;
    transition: all .3s linear;
}
section .projects .card img:hover{
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 1;
}
section .projects .card .desc{
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding:0 0 10px 0px;
    background: #2d2d2d;
}
section .projects .card .desc h1{
    color: goldenrod;
}
section .projects .card .desc button{
    position: relative;
    align-self: center;
    width: 220px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
section .projects .card .desc button::before{
    position: absolute;
    content: " ";
    left: -100%;
    width: 220px;
    height: 60px;
    transform: skewX(45deg);
    background: linear-gradient(-90deg, pink 50% ,cyan);
}
section .projects .card .desc button:hover::before{
    animation: glow 2s ease-out forwards;
}
@keyframes glow {
    100%{
        transform: translate(200%);
    }
}
section .projects .card .desc button a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
    z-index: 2;
}

@keyframes card {
    0%{
        transform: translate(0% );
    }
    25%{
        transform: translate(-198%);
    }
    50%{
        transform: translate(-398%);
    }
    75%{
        transform: translate(-600%);
    }
    100%{
        transform: translate(-806%);
    }

}



section .hire{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: end;

}
section .hire a{
    position: relative;
    background: #2d2d2d;
    color: goldenrod;
    padding:20px 40px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 30px;
    overflow: hidden;
}


  


footer{
    height: 25vh;
    margin-top: 10vh;
    border-radius:30px 30px 0 0;
    box-shadow: -10px -10px 32px ;
    transition: all .3s linear;
}
footer:hover{
    height: 32vh;
    box-shadow: -10px -10px 10px #fff;
    background: #80808069;
}
footer:hover .contact .all{
    opacity: 1;
}
footer:hover .contact ul.ewttt{
    transform: translate(-25%);
}
footer:hover .contact ul.ewttt li{
    animation: icons .3s linear;
    animation-delay: 1s;
}
footer:hover .contact h1{
    font-size: 50px;
    margin-top: 5vh;
}
footer .contact{
    display: flex;
    flex-direction: column;
}
footer .contact h1{
    font-size: 80px;
    text-align: center;
    transition: all .3s linear;
}
footer .contact ul.ewttt{
    display: flex;
    list-style:none;
    justify-content: center;
    transition: all .3s linear;
}
footer ul.ewttt li{
    margin: 20px 75px ;
}
footer .contact .all{
    opacity: 0;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    transition: all .3s linear;
}
footer .contact .all ul{
    display: flex;
    margin-right: 10vh;
}
footer .contact .all ul li{
    margin: 45px;
    list-style: none;
}
footer .contact .all ul li a{
    text-decoration: none;
    color: black;
    transition: all .3s linear;
    color: #fff ;
}
footer .contact .all ul li a:hover{
    box-shadow: -2px -2px 2px;
    border-radius: 5px;
    padding: 5px;
}
footer .contact .all .friends{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 20vh;
}
footer .contact .all .friends a{
    margin-top: 20px;
    text-decoration: none;
    transition: all .3s linear;
    color: #fff;
}
footer .contact .all .friends a:hover{
    box-shadow: -2px -2px 2px;
    border-radius: 5px;
    padding: 5px;
}
button.btn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 10px;
}
button.btn a{
    text-decoration: none;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
button.btn:hover{
    transition: all .5s linear;
    background: rgb(255, 255, 255);
}



@media (max-width:1024px) {
    .intro .cover{
        width: 320px;
        height: 320px;
        border-radius: 50%;
        overflow: hidden;
        animation: img 2s forwards;
    }
    .intro img{
        margin-left: -75px;
        margin-top: -90px;
        scale:1.5;
    }


    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-142%);
        }
        50%{
            transform: translate(-288%);
        }
        75%{
            transform: translate(-440%);
        }
        100%{
            transform: translate(-600%);
        }
    
    }



    footer{
        width: 100%;
    }
    footer:hover{
        height:30vh;
    }
    footer .contact h1{
        margin-top: 1vh;
        font-size: 50px;
    }
    footer:hover .contact h1{
        font-size: 50px;
    }
    footer:hover .contact ul.ewttt{
        transform: translate(0%);
    }
    footer:hover ul.ewttt li img{
        margin:10px 10px 0;
    }

    footer:hover .contact ul.ewttt li img{
        width: 30px;
    }
    footer:hover .contact ul.ewttt li{
        margin:10px 50px;
    }
    footer .contact .all{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .contact ul.ewttt li img{
        width: 30px;
    }
    footer .contact ul.ewttt{
        display: flex;
        list-style:none;
        justify-content: center;
        transition: all 1s linear;
    }
    footer ul.ewttt li{
        margin: 10px 40px;
    }
    footer .contact .all ul{
        margin: 0;
        margin-bottom: 20px;
    }
    footer .contact .all ul li{
        margin: 10px 50px;
        font-size: 14px;
    }
    footer .contact .all .friends{
        font-size:24px;
        margin: 0;
    }
    footer .contact .all .friends a{
        text-align: center;
        font-size: 24px;
    }


    section .hire{
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: end;
    
    }
    section .hire a{
        position: relative;
        background: #2d2d2d;
        color: goldenrod;
        padding:15px 25px;
        font-size: 14px;
        text-decoration: none;
        border-radius: 10px;
        margin: 0 30px;
        overflow: hidden;
    }
}
@media (max-width:414px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-125%);
        }
        50%{
            transform: translate(-250%);
        }
        75%{

            transform: translate(-376%);
        }
        100%{
            transform: translate(-513%);
        }
    
    }
    
}
@media (max-width:884px) {
    .intro .cover{
        width: 320px;
        height: 320px;
        border-radius: 50%;
        overflow: hidden;
        animation: img 2s forwards;
    }
    .intro img{
        margin-left: -75px;
        margin-top: -90px;
        scale:1.5;
    }


    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-142%);
        }
        50%{
            transform: translate(-288%);
        }
        75%{

            transform: translate(-434%);
        }
        100%{
            transform: translate(-586%);
        }
    
    }



    footer{
        width: 100%;
    }
    footer:hover{
        height:30vh;
    }
    footer .contact h1{
        margin-top: 1vh;
        font-size: 50px;
    }
    footer:hover .contact h1{
        font-size: 50px;
    }
    footer:hover .contact ul.ewttt{
        transform: translate(0%);
    }
    footer:hover ul.ewttt li img{
        margin:10px 10px 0;
    }

    footer:hover .contact ul.ewttt li img{
        width: 30px;
    }
    footer:hover .contact ul.ewttt li{
        margin:10px 50px;
    }
    footer .contact .all{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .contact ul.ewttt li img{
        width: 30px;
    }
    footer .contact ul.ewttt{
        display: flex;
        list-style:none;
        justify-content: center;
        transition: all 1s linear;
    }
    footer ul.ewttt li{
        margin: 10px 40px;
    }
    footer .contact .all ul{
        margin: 0;
        margin-bottom: 20px;
    }
    footer .contact .all ul li{
        margin: 10px 50px;
        font-size: 14px;
    }
    footer .contact .all .friends{
        font-size:24px;
        margin: 0;
    }
    footer .contact .all .friends a{
        text-align: center;
        font-size: 24px;
    }


    section .hire{
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: end;
    
    }
    section .hire a{
        position: relative;
        background: #2d2d2d;
        color: goldenrod;
        padding:15px 25px;
        font-size: 14px;
        text-decoration: none;
        border-radius: 10px;
        margin: 0 30px;
        overflow: hidden;
    }
}
@media (max-width:414px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-125%);
        }
        50%{
            transform: translate(-250%);
        }
        75%{

            transform: translate(-376%);
        }
        100%{
            transform: translate(-513%);
        }
    
    }
    
    button.btn{
        position: fixed;
        bottom: 10px;
        right: 10px;
        height: 35px;
        width: 35px;
        border-radius: 10px;
    }
    button.btn a{
        text-decoration: none;
        font-size: 40px;
        color: rgb(0, 0, 0);
    }
}

@media (max-width:393px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-125%);
        }
        50%{
            transform: translate(-250%);
        }
        75%{

            transform: translate(-376%);
        }
        100%{
            transform: translate(-513%);
        }
    
    }
    
}


@media (max-width:600px) {
    body{
        overflow: visible;
    }

    section .intro{
        min-height: 90vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .intro .cover{
        width: 220px;
        height: 220px;
        border-radius: 50%;
        overflow: hidden;
        animation: img 2s forwards;
    }
    .intro img{
        margin-left: -90px;
        margin-top: -90px;
        scale:1.5;
    }

    .intro .info h1{
        font-size: 60px;
        animation: h1 2s forwards;
    }
    @keyframes h1 {
        0%{
            transform: translateY(80px);
        }
    }
    .intro .info .li{
        display: flex;
        flex-direction: column;
        list-style: none;
        background: goldenrod;
        height: 50px;
        width: 250px;
        overflow: hidden;
        animation: li 2s forwards;
    }
    @keyframes li {
        0%{
            transform: translateY(120px);
        }
    }
    .intro .info .li span{
        font-size: 40px;
        animation: autoscroll 4s  infinite;
        animation-delay: 5s;
    }
    @keyframes autoscroll {
        0%{
            transform: translateY(0);  
        }    
        50%{
            transform: translateY(-50px);
        }    
        100%{
            transform: translateY(-94px);
        }    
        
    }


    section .about .desc{
        padding: 10px;
        min-height: 100vh;
    }
    section .about .desc p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    section .about .desc p span{
        color: goldenrod;
    }
    section .about .desc ul li{
        font-size: 14px;
        margin-bottom: 10px;
    }
    section .about .desc h4{
        color: goldenrod;
        font-size: 20px;
        margin-bottom: 10px;
    }
    section .about .desc h3{
        color: goldenrod;
        font-size: 20px;
        margin-bottom: 10px;
    }


    section .projects{
        display: flex;
        justify-content: start;
        align-items: center;
        min-height: 50vh;
        overflow: hidden;
    }
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    section .projects .card img{
        width: 200px;
        height: 220px;
        border-radius: 20px 20px 0 0;
        opacity: 25;
        transition: all .3s;
    }
    section .projects:hover .card{
        animation-play-state: paused;
    }
    section .projects .card img{
        border-radius: 20px 20px 0 0;
        opacity: .5;
        transition: all .3s linear;
    }
    section .projects .card:hover img{
        margin-bottom: 10px;
        cursor: pointer;
        opacity: 1;
    }
    section .projects .card .desc{
        display: flex;
        flex-direction: column;
        z-index: 2;
        padding:0 0 10px 0px;
        background: #2d2d2d;
    }
    section .projects .card .desc h1{
        color: goldenrod;
    }
    section .projects .card .desc button{
        position: relative;
        align-self: center;
        width: 180px;
        margin-top: 10px;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
    }
    section .projects .card .desc button::before{
        position: absolute;
        content: " ";
        left: -100%;
        width: 180px;
        height: 60px;
        transform: skewX(45deg);
        background: linear-gradient(-90deg, pink 50% ,cyan);
    }
    section .projects .card .desc button:hover::before{
        animation: glow 2s ease-out forwards;
    }
    @keyframes glow {
        100%{
            transform: translate(200%);
        }
    }
    section .projects .card .desc button a{
        text-decoration: none;
        color: #000;
        font-size: 24px;
        z-index: 2;
    }
    
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-128%);
        }
        50%{
            transform: translate(-258%);
        }
        75%{

            transform: translate(-388%);
        }
        100%{
            transform: translate(-520%);
        }
    
    }


    section .hire{
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: end;
    
    }
    section .hire a{
        position: relative;
        background: #2d2d2d;
        color: goldenrod;
        padding:10px 20px;
        font-size: 14px;
        text-decoration: none;
        border-radius: 10px;
        margin: 0 20px;

        overflow: hidden;
    }


    footer{
        width: 100%;
    }
    footer:hover{
        height:40vh;
    }
    footer .contact h1{
        margin-top: 1vh;
        font-size: 50px;
    }
    footer:hover .contact h1{
        font-size: 50px;
    }
    footer:hover .contact ul.ewttt{
        transform: translate(0%);
    }
    footer:hover ul.ewttt li img{
        margin:10px 10px 0;
    }
    footer ul.ewttt li{
        margin:10px 40px 0;
    }
    footer:hover .contact ul.ewttt li img{
        width: 30px;
    }
    footer:hover .contact ul.ewttt li{
        margin:10px 15px;
    }
    footer .contact .all{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .contact ul.ewttt li img{
        width: 30px;
    }
    footer .contact ul.ewttt{
        display: flex;
        list-style:none;
        justify-content: center;
        transition: all 1s linear;
    }
    footer ul.ewttt li{
        margin: 10px 20px;
    }
    footer .contact .all ul{
        margin: 0;
        margin-bottom: 20px;
    }
    footer .contact .all ul li{
        margin: 15px;
        font-size: 14px;
    }
    footer .contact .all .friends{
        font-size: 24px;
        margin: 0;
    }
    footer .contact .all .friends a{
        text-align: center;
        font-size: 14px;
    }



    nav ul li {
        margin:0 10px;
        list-style: none;
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        transition: all .3s;
    }
}
@media (max-width:414px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-125%);
        }
        50%{
            transform: translate(-250%);
        }
        75%{

            transform: translate(-376%);
        }
        100%{
            transform: translate(-513%);
        }
    
    }
    
}
@media (max-width:884px) {
    .intro .cover{
        width: 320px;
        height: 320px;
        border-radius: 50%;
        overflow: hidden;
        animation: img 2s forwards;
    }
    .intro img{
        margin-left: -75px;
        margin-top: -90px;
        scale:1.5;
    }


    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-142%);
        }
        50%{
            transform: translate(-288%);
        }
        75%{

            transform: translate(-434%);
        }
        100%{
            transform: translate(-586%);
        }
    
    }



    footer{
        width: 100%;
    }
    footer:hover{
        height:30vh;
    }
    footer .contact h1{
        margin-top: 1vh;
        font-size: 50px;
    }
    footer:hover .contact h1{
        font-size: 50px;
    }
    footer:hover .contact ul.ewttt{
        transform: translate(0%);
    }
    footer:hover ul.ewttt li img{
        margin:10px 10px 0;
    }

    footer:hover .contact ul.ewttt li img{
        width: 30px;
    }
    footer:hover .contact ul.ewttt li{
        margin:10px 50px;
    }
    footer .contact .all{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .contact ul.ewttt li img{
        width: 30px;
    }
    footer .contact ul.ewttt{
        display: flex;
        list-style:none;
        justify-content: center;
        transition: all 1s linear;
    }
    footer ul.ewttt li{
        margin: 10px 40px;
    }
    footer .contact .all ul{
        margin: 0;
        margin-bottom: 20px;
    }
    footer .contact .all ul li{
        margin: 10px 50px;
        font-size: 14px;
    }
    footer .contact .all .friends{
        font-size:24px;
        margin: 0;
    }
    footer .contact .all .friends a{
        text-align: center;
        font-size: 24px;
    }


    section .hire{
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: end;
    
    }
    section .hire a{
        position: relative;
        background: #2d2d2d;
        color: goldenrod;
        padding:15px 25px;
        font-size: 14px;
        text-decoration: none;
        border-radius: 10px;
        margin: 0 30px;
        overflow: hidden;
    }
}
@media (max-width:414px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-125%);
        }
        50%{
            transform: translate(-250%);
        }
        75%{

            transform: translate(-376%);
        }
        100%{
            transform: translate(-513%);
        }
    
    }
    
    button.btn{
        position: fixed;
        bottom: 10px;
        right: 10px;
        height: 35px;
        width: 35px;
        border-radius: 10px;
    }
    button.btn a{
        text-decoration: none;
        font-size: 40px;
        color: rgb(0, 0, 0);
    }
}

@media (max-width:393px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-125%);
        }
        50%{
            transform: translate(-250%);
        }
        75%{

            transform: translate(-376%);
        }
        100%{
            transform: translate(-513%);
        }
    
    }
    
}


@media (max-width:430px) {
    body{
        overflow: visible;
    }

    section .intro{
        min-height: 90vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .intro .cover{
        width: 220px;
        height: 220px;
        border-radius: 50%;
        overflow: hidden;
        animation: img 2s forwards;
    }
    .intro img{
        margin-left: -90px;
        margin-top: -90px;
        scale:1.5;
    }

    .intro .info h1{
        font-size: 60px;
        animation: h1 2s forwards;
    }
    @keyframes h1 {
        0%{
            transform: translateY(80px);
        }
    }
    .intro .info .li{
        display: flex;
        flex-direction: column;
        list-style: none;
        background: goldenrod;
        height: 50px;
        width: 250px;
        overflow: hidden;
        animation: li 2s forwards;
    }
    @keyframes li {
        0%{
            transform: translateY(120px);
        }
    }
    .intro .info .li span{
        font-size: 40px;
        animation: autoscroll 4s  infinite;
        animation-delay: 5s;
    }
    @keyframes autoscroll {
        0%{
            transform: translateY(0);  
        }    
        50%{
            transform: translateY(-50px);
        }    
        100%{
            transform: translateY(-94px);
        }    
        
    }


    section .about .desc{
        padding: 10px;
        min-height: 100vh;
    }
    section .about .desc p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    section .about .desc p span{
        color: goldenrod;
    }
    section .about .desc ul li{
        font-size: 14px;
        margin-bottom: 10px;
    }
    section .about .desc h4{
        color: goldenrod;
        font-size: 20px;
        margin-bottom: 10px;
    }
    section .about .desc h3{
        color: goldenrod;
        font-size: 20px;
        margin-bottom: 10px;
    }


    section .projects{
        display: flex;
        justify-content: start;
        align-items: center;
        min-height: 50vh;
        overflow: hidden;
    }
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    section .projects .card img{
        width: 200px;
        height: 220px;
        border-radius: 20px 20px 0 0;
        opacity: 25;
        transition: all .3s;
    }
    section .projects:hover .card{
        animation-play-state: paused;
    }
    section .projects .card img{
        border-radius: 20px 20px 0 0;
        opacity: .5;
        transition: all .3s linear;
    }
    section .projects .card:hover img{
        margin-bottom: 10px;
        cursor: pointer;
        opacity: 1;
    }
    section .projects .card .desc{
        display: flex;
        flex-direction: column;
        z-index: 2;
        padding:0 0 10px 0px;
        background: #2d2d2d;
    }
    section .projects .card .desc h1{
        color: goldenrod;
    }
    section .projects .card .desc button{
        position: relative;
        align-self: center;
        width: 180px;
        margin-top: 10px;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
    }
    section .projects .card .desc button::before{
        position: absolute;
        content: " ";
        left: -100%;
        width: 180px;
        height: 60px;
        transform: skewX(45deg);
        background: linear-gradient(-90deg, pink 50% ,cyan);
    }
    section .projects .card .desc button:hover::before{
        animation: glow 2s ease-out forwards;
    }
    @keyframes glow {
        100%{
            transform: translate(200%);
        }
    }
    section .projects .card .desc button a{
        text-decoration: none;
        color: #000;
        font-size: 24px;
        z-index: 2;
    }
    
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-128%);
        }
        50%{
            transform: translate(-258%);
        }
        75%{

            transform: translate(-388%);
        }
        100%{
            transform: translate(-520%);
        }
    
    }


    section .hire{
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: end;
    
    }
    section .hire a{
        position: relative;
        background: #2d2d2d;
        color: goldenrod;
        padding:10px 20px;
        font-size: 14px;
        text-decoration: none;
        border-radius: 10px;
        margin: 0 20px;

        overflow: hidden;
    }


    footer{
        width: 100%;
    }
    footer:hover{
        height:40vh;
    }
    footer .contact h1{
        margin-top: 1vh;
        font-size: 50px;
    }
    footer:hover .contact h1{
        font-size: 50px;
    }
    footer:hover .contact ul.ewttt{
        transform: translate(0%);
    }
    footer:hover ul.ewttt li img{
        margin:10px 10px 0;
    }
    footer ul.ewttt li{
        margin:10px 40px 0;
    }
    footer:hover .contact ul.ewttt li img{
        width: 30px;
    }
    footer:hover .contact ul.ewttt li{
        margin:10px 15px;
    }
    footer .contact .all{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .contact ul.ewttt li img{
        width: 30px;
    }
    footer .contact ul.ewttt{
        display: flex;
        list-style:none;
        justify-content: center;
        transition: all 1s linear;
    }
    footer ul.ewttt li{
        margin: 10px 20px;
    }
    footer .contact .all ul{
        margin: 0;
        margin-bottom: 20px;
    }
    footer .contact .all ul li{
        margin: 15px;
        font-size: 14px;
    }
    footer .contact .all .friends{
        font-size: 24px;
        margin: 0;
    }
    footer .contact .all .friends a{
        text-align: center;
        font-size: 14px;
    }



    nav ul li {
        margin:0 10px;
        list-style: none;
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        transition: all .3s;
    }
}



@media (max-width:412px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-128%);
        }
        50%{
            transform: translate(-258%);
        }
        75%{
    
            transform: translate(-388%);
        }
        100%{
            transform: translate(-520%);
        }
    
    }
    
}
@media (max-width:393px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-125%);
        }
        50%{
            transform: translate(-250%);
        }
        75%{

            transform: translate(-376%);
        }
        100%{
            transform: translate(-513%);
        }
    
    }
    
}
@media (max-width:390px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-125%);
        }
        50%{
            transform: translate(-250%);
        }
        75%{

            transform: translate(-376%);
        }
        100%{
            transform: translate(-509%);
        }
    
    }
    
}
@media (max-width:360px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-125%);
        }
        50%{
            transform: translate(-250%);
        }
        75%{

            transform: translate(-376%);
        }
        100%{
            transform: translate(-504%);
        }
    
    }
    
}
@media (max-width:360px) {
    section .projects .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        animation: card 20s  infinite;
    }
    @keyframes card {
        0%{
            transform: translate(0%);
        }
        25%{
            transform: translate(-122%);
        }
        50%{
            transform: translate(-245%);
        }
        75%{

            transform: translate(-369%);
        }
        100%{
            transform: translate(-491%);
        }
    
    }
    
}