* {
    margin: 0;
    padding: 0;

}


body {
    background-color: #005f71;
    scroll-behavior: smooth;
    scroll-snap-stop: normal;
    color: #fff;
}


.btn{
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: goldenrod;
    border-radius: 5px ;
    width: 120px;
    height: 30px;
    font-size: 24px;
    cursor: pointer;
    z-index: 3;
}

.night {
    width: 100%;
    z-index: 2;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

.night img {
    position: absolute;
}

.night img:nth-child(2) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.night img:nth-child(3) {
    top: 10%;
    left: 20%;
    filter: drop-shadow(0px 0px 100px #fff);
    width: 10%;
    animation: moon 4s ease-out forwards,
    rotate 60s linear infinite 4s;
}
@keyframes moon {
    0%{
        transform: translateX(-320%) translateY(300px) rotate(-360deg);
    }    
}
@keyframes rotate {
    0%{
        transform:rotate(0deg);
    }    
    100%{
        transform:rotate(360deg);
    }    
}



.night img:nth-child(4) {
    top: 0;
    right: -20%;
    width: 2%;
    filter: drop-shadow(10px -30px 30px rgb(255, 128, 0));
}

.night img:nth-child(5) {
    top: 0;
    right: -10%;
    width: 2%;
    filter: drop-shadow(10px -30px 30px rgb(255, 128, 0));
}

.night img:nth-child(7) {
    bottom: 0;
    left: 30%;
    width: 10%;
    opacity: .98;
}
.night img:nth-child(8) {
    bottom: -17%;
    left: 0%;
    width: 110%;
    height: 50%;
}

.day{
    width: 100%;
    pointer-events: none;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    background: #f5b88f;
    height: 100vh;
    overflow: hidden;
}
.day img{
    position: absolute;
}
.day .cloud-one{
    top: 20%;
    right: 10%;
    animation: clouds 4s linear infinite;
}
.day .cloud-two{
    top: 30%;
    left: 10%;
    animation: clouds 3.8s linear infinite;
}
.day .cloud-three{
    top: 0%;
    left: 0%;
    animation: clouds 3.5s linear infinite;
}
.day .sun{
    top: 10%;
    left:40%;
    width: 320px;
    animation: sun 2s linear infinite,
            rise 4s ease-out forwards;
}
.day .cloud-four{
    top: 0%;
    right: 0%;
    animation: clouds 3s linear infinite;
}
.day .cloud-five{
    top: 50%;
    left: 0%;
    animation: clouds 2.5s linear infinite;
}
.day .cloud-six{
    top: 50%;
    right: 10%;
    animation: clouds 4.5s linear infinite;
}
@keyframes clouds {
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(-20px);
    }
    50%{
        transform: translate(20px);
    }
    100%{
        transform: translate(0px);
    }
    
}
@keyframes rise {
    0%{
        transform: translateX(-320%) translateY(300px);
        scale: 1;
    }    
}
@keyframes sun {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
    
}




nav {
    position: absolute;
    top: 2vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 10vh;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 30px;
    list-style: none;
    transition: all .3s linear;

}

nav ul li.active {
    background-color: rgb(214, 93, 0);
    border-radius: 5px;
    padding: 2px;
}

nav ul li.active::before {
    animation: none;
}

nav ul li.active::after {
    animation: none;
}

nav ul li::before {
    content: "";
    position: absolute;
    top: -2px;
    height: 3px;
    width: 0;
    background-color: goldenrod;
    border-radius: 50px;
    animation: btn 6s linear infinite;
    animation-delay: 2s;
}

nav ul li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    background-color: goldenrod;
    border-radius: 50px;
    animation: btntwo 6s linear infinite;
    animation-delay: 2s;
}

@keyframes btn {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes btntwo {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
        transform: translate(-100%);
    }

    100% {
        width: 0%;
    }
}

nav ul li:nth-child(1) {
    animation: nav 2s forwards;
    animation-delay: .1s;
}

nav ul li:nth-child(2) {
    animation: nav 2s forwards;
    animation-delay: .2s;
}

nav ul li:nth-child(3) {
    animation: nav 2s forwards;
    animation-delay: .3s;
}

nav ul li:nth-child(4) {
    animation: nav 2s forwards;
    animation-delay: .4s;
}

@keyframes nav {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }
}

nav ul li:hover::before {
    animation: none;
}

nav ul li:hover::after {
    animation: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}

nav ul li:hover {
    background-color: rgb(214, 93, 0);
    border-radius: 5px;
    padding: 2px;
}


section .intro {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.intro .cover {
    width: 320px;
    height: 320px;
    margin-right: 60px;
    border-radius: 50%;
    overflow: hidden;
    animation: img 2s forwards;
}

.intro img {
    margin-left: -40px;
    margin-top: 10px;
    scale: 2;
}

@keyframes img {
    0% {
        transform: none;
    }
}

.intro .info h1 {
    font-size: 90px;
    animation: h1 2s forwards;
}

@keyframes h1 {
    0% {
        transform: translate(320px);
    }
}

.intro .info .li {
    display: flex;
    flex-direction: column;
    list-style: none;
    background: goldenrod;
    height: 60px;
    width: 320px;
    overflow: hidden;
    animation: li 2s forwards;
}

@keyframes li {
    0% {
        transform: translateY(120px);
    }
}

.intro .info .li span {
    font-size: 50px;
    animation: autoscroll 4s infinite;
    animation-delay: 5s;
}

@keyframes autoscroll {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(-116px);
    }

}


.intro-two {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.intro-two .cover {
    width: 320px;
    height: 320px;
    margin-right: 60px;
    border-radius: 50%;
    overflow: hidden;
    animation: img 2s forwards;
}

.intro-two img {
    margin-left: -40px;
    margin-top: 10px;
    scale: 2;
}

@keyframes img {
    0% {
        transform: none;
    }
}

.intro-two .info h1 {
    font-size: 90px;
    animation: h1 2s forwards;
}

@keyframes h1 {
    0% {
        transform: translate(320px);
    }
}

.intro-two .info .li {
    display: flex;
    flex-direction: column;
    list-style: none;
    background: goldenrod;
    height: 60px;
    width: 320px;
    overflow: hidden;
    animation: li 2s forwards;
}

@keyframes li {
    0% {
        transform: translateY(120px);
    }
}

.intro-two .info .li span {
    font-size: 50px;
    animation: autoscroll 4s infinite;
    animation-delay: 5s;
}

@keyframes autoscroll {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(-116px);
    }

}





section .about .desc {
    margin-top: 20vh;
    padding: 10px;
    min-height: 100vh;
    opacity: 0;
}

section .about .desc p {
    font-size: 24px;
    margin-bottom: 30px;
}

section .about .desc p span {
    color: goldenrod;
    
}

section .about .desc ul li {
    font-size: 24px;
    margin-bottom: 10px;
    list-style: none;
}

section .about .desc h4 {
    color: goldenrod;
    font-size: 30px;
    margin-bottom: 10px;
}

section .about .desc h3 {
    color: goldenrod;
    font-size: 30px;
    margin-bottom: 10px;
}




section .projects,
section .projects-2 {
    display: flex;
    align-items: center;
    width: auto;
    overflow-x: hidden;
    position: relative;
}
section .projects h1.h1{
    position: absolute;
    top: 0;
    right: 50%;
}
section .projects .group-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 50vh;
    margin-right: 15%;
    animation: group 10s linear infinite;
}
section .projects .group-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 50vh;
    animation: group 10s linear infinite;
}

section .projects .card,
section .projects-2 .card {
    display: flex;
    flex-direction: column;
    width: 280px;
    border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;

}
section .projects .card img,
section .projects-2 .card img {
    border-radius: 20px 20px 0 0;
    opacity: 25;
    transition: all 1s;
}

section .projects:hover .group-one {
    animation-play-state: paused;
}
section .projects:hover .group-two {
    animation-play-state: paused;
}

section .projects .card img,
section .projects-2 .card img {
    border-radius: 20px 20px 0 0;
    opacity: .5;
    transition: all .3s linear;
}

section .projects .card img:hover,
section .projects-2 .card img:hover {
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 1;
}

section .projects .card .desc,
section .projects-2 .card .desc {
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding: 0 0 10px 0px;
    background: #2d2d2d;
}

section .projects .card .desc h1,
section .projects-2 .card .desc h1 {
    color: goldenrod;
}

section .projects .card .desc button,
section .projects-2 .card .desc button{
    position: relative;
    align-self: center;
    width: 220px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

section .projects .card .desc button::before,
section .projects-2 .card .desc button::before {
    position: absolute;
    content: " ";
    left: -100%;
    width: 220px;
    height: 60px;
    transform: skewX(45deg);
    background: linear-gradient(-90deg, pink 50%, cyan);
}

section .projects .card .desc button:hover::before,
section .projects-2 .card .desc button:hover::before {
    animation: glow 2s ease-out forwards;
}

section .projects-2 h1.h1{
    position: absolute;
    top: 0;
    text-align: center;
}
section .projects-2 .group-one{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 50vh;
}

@keyframes glow {
    100% {
        transform: translate(200%);
    }
}

section .projects .card .desc button a,
section .projects-2 .card .desc button a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    z-index: 2;
}

@keyframes group {
    100% {
        transform: translate(-115%);
    }

}



section .hire {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: end;

}

section .hire a {
    position: relative;
    width: 140px;
    text-align: center;
    background: #2d2d2d;
    color: goldenrod;
    padding: 20px 40px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 30px;
    overflow: hidden;
}
section .hire a:nth-child(1){
    background: goldenrod;
    color: #2d2d2d;
}




footer {
    min-height: 25vh;
    margin-top: 10vh;
    border-radius: 30px 30px 0 0;
    box-shadow: -10px -10px 32px;
    padding: 10px;
    transition: all 1s linear;
}

footer:hover {
    min-height: 25vh;
    box-shadow: -10px -10px 10px #fff;
    background: #80808069;
}

footer:hover .contact ul.ewttt {
    display: none;
}

footer:hover .contact .all {
    display: flex;
}

footer:hover .contact h1 {
    font-size: 60px;
    margin-top: 5vh;
}

footer:hover .friends {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .contact {
    display: flex;
    flex-direction: column;
}

footer .contact h1 {
    font-size: 80px;
    text-align: center;
    transition: all .3s linear;
}

footer .contact ul.ewttt {
    display: flex;
    list-style: none;
    justify-content: center;
    transition: all .3s linear;
}

footer .contact ul.ewttt li {
    margin: 20px 75px;
}

footer .contact .all {
    display: none;
    justify-content: center;
    font-size: 30px;
    margin: 40px 0;
    transition: all .3s linear;
}

footer .contact .all ul {
    display: flex;
}

footer .contact .all ul li {
    margin: 0 60px;
    list-style: none;
}

footer .contact .all ul li a {
    text-decoration: none;
    color: black;
    transition: all .3s linear;
    color: #fff;
}

footer .contact .all ul li a:hover {
    box-shadow: -2px -2px 2px;
    border-radius: 5px;
    padding: 5px;
}

footer .friends {
    display: none;
    font-size: 21px;
}

footer .friends a {
    margin-top: 10px;
    text-decoration: none;
    transition: all .3s linear;
    color: #fff;
}

footer .friends a:hover {
    box-shadow: -2px -2px 2px;
    border-radius: 5px;
    padding: 5px;
}







@media (max-width:1700px) {

    footer:hover {
        min-height: 50vh;
    }

    footer .contact .all .friends {
        font-size: 24px;
        margin: 0;
    }

    footer .contact .all .friends a {
        text-align: center;
        font-size: 24px;
    }
}

@media (max-width:1440px) {
    section .intro {
        flex-direction: column;
    }

    footer .contact .all ul li {
        list-style: none;
    }
}

@media (max-width:1100px) {
    footer .contact .all ul li {
        margin: 0 20px;
        font-size: 24px;
    }
}

@media (max-width:1024px) {
    .night img:nth-child(7) {
        bottom: 0;
        left: 40%;
        width: 20%;
        opacity: .98;
    }
    .night img:nth-child(4) {
        top: 10%;
        right: -20%;
        width: 5%;
        filter: drop-shadow(10px -30px 30px rgb(255, 128, 0));
    }
    .night img:nth-child(5) {
        top: 10%;
        right: -10%;
        width: 5%;
        filter: drop-shadow(10px -30px 30px rgb(255, 128, 0));
    }

    .night img:nth-child(3) {
        top: 10%;
        left: 20%;
        width: 20%;
    }
    .day .cloud-one,
    .day .cloud-two,
    .day .cloud-three,
    .day .cloud-four,
    .day .cloud-five,
    .day .cloud-six,
    .day .sun{
        width: 50%;
    }
    .day .sun{
        width: 20%;
    }


     .intro {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }
     .intro-two {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }


    @keyframes card {
        0% {
            transform: translate(0%);
        }
    
        25% {
            transform: translate(-154%);
        }
    
        50% {
            transform: translate(-310%);
        }
    
        75% {
            transform: translate(-464%);
        }
    
        100% {
            transform: translate(-620%);
        }
    
    }


    footer .contact .all ul li {
        margin: 0 50px !important;
        font-size: 24px;
    }
}



@media (max-width:1024px){
    section .projects .group-one {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    section .projects .card,
    section .projects-2 .card {
        display: flex;
        flex-direction: column;
        width: 35%;
        margin:5%;
        animation: card none;
    }
    section .projects .group-one{
        animation: none;
    }
    section .projects .group-two{
        display: none;
    }
    
    section .projects .card img,
    section .projects-2 .card img {
        width: 100%;
    }
}


@media (max-width:905px) {
    footer .contact .all ul li {
        margin: 0 45px !important;
        font-size: 24px;
    }
}

@media (max-width:886px) {
    section .about .desc p {
        font-size: 20px !important;
    }

    section .about .desc ul li {
        font-size: 20px !important;
    }

    section .about .desc h4 {
        font-size: 24px;
    }

    section .about .desc h3 {
        font-size: 24px !important;

    }


    footer {
        box-shadow: -5px -5px 30px !important;

    }

    footer:hover {
        box-shadow: none !important;
    }

    footer .contact ul.ewttt li img {
        width: 30px;
    }

    footer .contact .all ul li {
        margin: 0 40px !important;
        font-size: 20px;
    }
}

@media (max-width:740px) {
    section .about .desc {
        margin-top: 20vh;
        padding: 10px;
        min-height: 10vh;
    }
    section .about .desc p {
        font-size: 14px !important;
    }

    section .about .desc ul li {
        font-size: 14px !important;
    }

    section .about .desc h4 {
        font-size: 20px;
    }

    section .about .desc h3 {
        font-size: 20px !important;
    }

    section .hire {
        min-height: 20vh;
    }

    section .hire a {
        padding: 5px 5px !important;
        font-size: 20px !important;
        margin: 0 20px !important;
        width: 120px;

    }


    footer .contact h1 {
        font-size: 60px !important;
    }

    footer .contact ul.ewttt li {
        margin: 0 50px !important;
    }

    footer .contact .all ul li {
        margin: 0 30px !important;
        font-size: 20px;
    }
}

@media (max-width:640px) {
    .btn{
        position: fixed;
        top: 100px;
        right: 20px;
        width: 100px;
        font-size: 20px;
    }
    .night img:nth-child(7) {
        bottom: 0;
        left: 50%;
        width: 35%;
        opacity: .98;
    }

    .night img:nth-child(4) {
        top: 10%;
        right: -20%;
        width: 8%;
        filter: drop-shadow(10px -30px 30px rgb(255, 128, 0));
    }

    .night img:nth-child(5) {
        top: 10%;
        right: -10%;
        width: 8%;
        filter: drop-shadow(10px -30px 30px rgb(255, 128, 0));
    }

    .night img:nth-child(3) {
        top: 10%;
        left: 20%;
        width: 30%;
    }


    section .projects .group-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    section .projects .card,
    section .projects-2 .card {
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    
    section .projects .card img,
    section .projects-2 .card img {
        width: 100%;
    }



    footer .contact .all ul li {
        margin: 0 20px !important;
        font-size: 20px;
    }
}




@media (max-width:550px) {
    footer .contact ul.ewttt li {
        margin: 0 40px !important;
    }

    footer .contact .all ul li {
        margin: 0 10px !important;
        font-size: 20px;
    }
}

@media (max-width:500px) {
    footer .contact ul.ewttt li {
        margin: 0 30px !important;
    }
}

@media (max-width:440px) {
    nav ul li {
        margin: 0 20px;
    }

    nav ul li a {
        font-size: 20px;
    }

    .night img:nth-child(3) {
        top: 10%;
        left: 20%;
        width: 40%;
    }

    .intro .cover {
        width: 230px;
        height: 230px;
        margin-right: 60px;
        border-radius: 50%;
        overflow: hidden;
        animation: img 2s forwards;
    }

    .intro img {
        margin-left: -90px;
        margin-top: 20px;
        scale: 2;
    }

    .intro .info h1 {
        font-size: 70px;
    }

    .intro .info .li {
        height: 30px;
        width: 180px;
    }

    .intro .info .li span {
        font-size: 24px;
    }

    .intro-two .cover {
        width: 230px;
        height: 230px;
        margin-right: 60px;
        border-radius: 50%;
        overflow: hidden;
        animation: img 2s forwards;
    }

    .intro-two img {
        margin-left: -90px;
        margin-top: 20px;
        scale: 2;
    }

    .intro-two .info h1 {
        font-size: 70px;
    }

    .intro-two .info .li {
        height: 30px;
        width: 180px;
    }

    .intro-two .info .li span {
        font-size: 24px;
    }

    @keyframes autoscroll {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-28px);
        }

        100% {
            transform: translateY(-54px);
        }

    }


    section .hire {
        min-height: 20vh;


    }

    section .hire a {
        padding: 5px 5px !important;
        font-size: 20px !important;
        margin: 0 20px !important;

    }


    footer .contact h1 {
        font-size: 40px !important;
    }

    footer .contact .all ul li {
        margin: 0 10px !important;
        font-size: 14px;
    }
}

@media (max-width:414px) {
    footer .contact ul.ewttt li {
        margin: 0 10px !important;
    }
    section .projects .card,
    section .projects-2 .card {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 90%;
    }
    section .projects h1.h1{
    section .projects-2 h1.h1{
        font-size: 16px;
    }
    }
}

@media (max-width:375px) {
    nav ul li {
        margin: 0 15px;
    }
}

@media (max-width:320px) {
    nav ul li {
        margin: 0 15px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .night img:nth-child(3) {
        top: 10%;
        left: 20%;
        width: 40%;
    }

    .intro .cover {
        width: 200px;
        height: 200px;
        margin-right: 60px;
        border-radius: 50%;
        overflow: hidden;
        animation: img 2s forwards;
    }

    .intro img {
        margin-left: -100px;
        margin-top: 20px;
        scale: 2;
    }

    .intro .info h1 {
        font-size: 60px;
    }

    .intro .info .li {
        height: 25px;
        width: 120px;
    }

    .intro .info .li span {
        font-size: 20px;
    }

    .intro-two .cover {
        width: 200px;
        height: 200px;
        margin-right: 60px;
        border-radius: 50%;
        overflow: hidden;
        animation: img 2s forwards;
    }

    .intro-two img {
        margin-left: -100px;
        margin-top: 20px;
        scale: 2;
    }

    .intro-two .info h1 {
        font-size: 60px;
    }

    .intro-two .info .li {
        height: 25px;
        width: 120px;
    }

    .intro-two .info .li span {
        font-size: 20px;
    }

    @keyframes autoscroll {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-24px);
        }

        100% {
            transform: translateY(-46px);
        }

    }



    section .hire a {
        padding: 5px 5px !important;
        font-size: 14px !important;
        margin: 0 10px !important;

    }


    footer .contact .all ul li {
        margin: 0 10px !important;
        font-size: 10px;
    }
}